# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log*
yarn-error.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-store

# Angular cache
/.angular/cache
/.angular/

# Environment variables
.env
.env.*
!.env.example
!.env.template

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# Testing & E2E
/coverage
/reports
/cypress/videos/
/cypress/screenshots/
/playwright-report/
/test-results/
__screenshots__/
testem.log

# Miscellaneous
.sass-cache/
/connect.lock
/libpeerconnection.log
/typings
*.log

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Build tools & Cache
/.nx/cache
*.swp
